html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #25303B;
}

section#timeline {
  width: 70%;
  margin: 20px auto;
  position: relative;
}

section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: rgba(255,255,255,0.2);
}

section#timeline article {
  width: 100%;
  margin: 0 0 10px 0;
  position: relative;
}

section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}

section#timeline article div.container {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}

section#timeline article div.container span.date {
  display: block;
  width: 70px;
  height: 60px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -36px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background: #25303B;
  color: rgba(255,255,255,0.5);
  border: 2px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 0 7px #25303B;
}

section#timeline article div.container span.date span {
  display: block;
  text-align: center;
}

section#timeline article div.container span.date span.day {
  font-size: 12px;
}

section#timeline article div.container span.date span.month {
  font-size: 22px;
}

section#timeline article div.container span.date span.year {
  font-size: 12px;
}

section#timeline article div.container h2 {
  padding: 15px;
  margin: 0;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}

section#timeline article div.container h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
  width: 10px; 
	height: 10px;
  transform: rotate(-45deg);
}

section#timeline article div.container p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: white;
  color: #656565;
  border-radius: 0 0 6px 6px;
}

section#timeline article:nth-child(even) div.container {
  float: right;
}

section#timeline article:nth-child(even)  h2:after {
  left: -5px;
}

section#timeline article:nth-child(1) h2 {
  background: #e74c3c;
}

section#timeline article:nth-child(1) h2:after {
  background: #e74c3c;
}

section#timeline article:nth-child(2) h2 {
  background: #2ecc71;
}

section#timeline article:nth-child(2) h2:after {
  background: #2ecc71;
}

section#timeline article:nth-child(3) h2 {
  background: #e67e22;
}

section#timeline article:nth-child(3) h2:after {
  background: #e67e22;
}

section#timeline article:nth-child(4) h2 {
  background: #1abc9c;
}

section#timeline article:nth-child(4) h2:after {
  background: #1abc9c;
}

section#timeline article:nth-child(5) h2 {
  background: #9b59b6;
}

section#timeline article:nth-child(5) h2:after {
  background: #9b59b6;
}

@media screen and (max-width: 600px) {
  section#timeline {
    right: 100px;
  }
 section#timeline article div.container h2:after {
    content: '';
    position: absolute;
    top: 20px;
    left: -5px;
    width: 10px; 
    height: 10px;
    transform: rotate(-45deg);
  }
section#timeline article div.container {
    width: 60%;
    float: right;
    margin: 10px -100px 10px 20px;
    border-radius: 6px;
  }
}